~/Edx-Python_Programming/au-ch_clock/build/
~/Edx-Python_Programming/au-ch_clock/dist/
~/Edx-Python_Programming/au-ch_clock/__pycache__/
~/Edx-Python_Programming/cs50/__pycache__/
~/Edx-Python_Programming/learning_german/__pycache__/
~/Edx-Python_Programming/learning_german/menus/__pycache__/
